<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubCategory">
	
	<select id="selectAllByMidCategory" resultType="SubCategory">
		select * from sub_category where mid_category_idx=#{mid_category_idx}
	</select>
</mapper>